/* Contenedor principal de las publicaciones */
.posts-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0; /* Elimina el padding para que quede más a la izquierda */
  max-width: 100%; /* Usa el ancho completo de la pantalla */
  margin: 0 auto; /* Centra el contenedor en el espacio disponible */
  overflow-y: auto;
  max-height: calc(100vh - 100px);
  padding-left: 0;
  margin-left: -150px;
}

/* Estilos de la tarjeta de la publicación */
.post-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 12px 0;
  max-width: 1150px;
  transition: 0.3s;
  position: relative;
  margin-left: -20px; /* Ajusta este valor hasta que logres la posición deseada */
}


.post-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


/* Encabezado de la publicación */
.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Contenedor de avatar y nombre del usuario */
.user-avatar-container {
  display: flex;
  align-items: center;
}

.user-info {
  margin-left: 10px;
}

/* Título de la publicación */
.post-title {
  font-size: 1.2em;
  margin: 0;
}

/* Fecha de la publicación */
.post-date {
  color: rgb(97, 96, 96);
  font-size: 0.9em;
}

/* Contenido de la publicación */
.post-content {
  margin-top: 10px;
}

/* Imagen de la publicación */
.post-image img {
  max-width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 10px;
}
